.done {
  text-decoration: line-through;
}

.add-button {
  margin-left: 10px;
  height: auto;
}

.title-input {
  width: 200px;
  height: 30px;
}

.todo {
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
}

.done-button {
  background-color: lightgreen;
}
.not-done-button {
  background-color: khaki;
}
.todo-button {
  display: inline-block;
  margin-left: 10px;
}

.remove-button {
  display: inline-block;
  margin-left: 10px;
  background-color: lightcoral;
}